.cover{
    background-image: url(./images/guard_cover_m.png);
    background-size: auto 100%;
}

/* .container .story p span{
    color: #11C469;
} */

/* .wire .wire_img{
    height: 860px;
    background-image: url(./images/guard_wire_2x.png);
} */
.design .design_img{
    height: 445px;
    background-image: url(./images/guard_design_2x.png);
}
/* .admin .admin_img{
    height: 755px;
    background-image: url(./images/guard_admin_2x.png);
} */

@media (min-width: 800px) {
    .cover{
        background-image: url(./images/guard_cover_pc.png);
    }
}