.cover{
    background-image: url(./images/pet_cover_m.png);
    background-size: auto 100%;
}

.container .story p span{
    color: #7C81F8;
}

.wire .wire_img{
    height: 860px;
    background-image: url(./images/pet_wire_2x.png);
}
.design .design_img{
    height: 900px;
    background-image: url(./images/pet_design_2x.png);
}
.admin .admin_img{
    height: 710px;
    background-image: url(./images/pet_admin_2x.png);
}

@media (min-width: 800px) {
    .cover{
        background-image: url(./images/pet_cover_pc.png);
    }
}