.cover{
    background-image: url(./images/paju_cover_m.png);
}

.container .story p span:nth-of-type(1){
    color: #34AE98;
}
.container .story p span:nth-of-type(2){
    color: #3D88C1;
}

/* .wire .wire_img{
    height: 430px;
    background-image: url(./images/paju_wire_2x.png);
} */
.design .design_img{
    height: 434px;
    background-image: url(./images/paju_design_2x.png);
}
.admin .admin_img{
    height: 717px;
    background-image: url(./images/paju_admin_2x.png);
}

@media (min-width: 800px) {
    .cover{
        background-image: url(./images/paju_cover_pc.png);
    }
}