.cover{
    background-image: url(./images/sk_cover_m.png);
}

.container .story p span{
    color: #DA6B3B;
}

/* .wire .wire_img{
    height: 860px;
    background-image: url(./images/sk_wire_2x.png);
} */
.design .design_img{
    height: 576px;
    background-image: url(./images/sk_design_2x.png);
}
.admin .admin_img{
    height: 701px;
    background-image: url(./images/sk_admin_2x.png);
}

@media (min-width: 800px) {
    .cover{
        background-image: url(./images/sk_cover_pc.png);
    }
}