.cover{
    background-image: url(./images/kt_cover_m.png);
    background-size: auto 100%;
}

.container .story p span{
    color: #5981E8;
}

/* .wire .wire_img{
    height: 860px;
    background-image: url(./images/kt_wire_2x.png);
} */
.design .design_img{
    height: 434px;
    background-image: url(./images/kt_design_2x.png);
}
.admin .admin_img{
    height: 792px;
    background-image: url(./images/kt_admin_2x.png);
}

@media (min-width: 800px) {
    .cover{
        background-image: url(./images/kt_cover_pc.png);
    }
}